body {
    background-image: url(/imgs/arriereplan1.jpg);
    background-color: #1f1f1f;
    color: white;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    margin: 0px;
}

.layout {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;
    
}

.navigation {
    background-color:black;
    margin-bottom: 0;

    display: flex;
    align-items: center;
    gap:100px;
    padding: 10px 450px;
    
}

.navigation a {
    text-decoration: none;
    color: #ff7300;
    font-size: 20px;
    font-weight: bold;
   
}

.navigation a:hover{
    color: white;
}

/* Flexbox */
.flexbox-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* Contenu */
.navg {
    color: #ff7300;
    background-color: rgba(0, 0, 0, 0.842);
    opacity: 0.97;
    width: 300px;
    padding: 20px;
    margin: 0;
    font-size: 20px;
    overflow:scroll; 
    height: 900px;
    
   
  
}


.navg ul {
    padding: 0px;
    list-style: none;
    
}

.navg ul > li {
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#container {
    /*background: #CCC;*/
    /*filter: alpha(opacity=60);*/
    opacity: 0.8;
    background-color: #2f2f2f;
    padding: 20px;
    margin-top:0;
    
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;  
    margin: 0;
}

/* Elements */
.ligne {
    border-color: #ff7300;
    width: 50%;
    float: left;
}


.flamme{
    display: flex;
    margin:0;
    flex-direction: row;
    padding: 30px;
}

.navg>h3{
    border: none;
    
    background-color: transparent;
    color:#f5f5f5;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    animation: flicker 3s infinite;
    text-shadow: 5px 5px 10px goldenrod;
}

.navg>h1{
    border: none;
    
    background-color: transparent;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    animation: flicker 10s infinite;
    text-shadow: 5px 5px 10px rgb(194, 146, 26);
}

@keyframes flicker{
   
    0%{
        color: #f5f5f5; 
    }
    50%{
        color: rgb(211, 177, 177);
    }
    100%{
        color: #dee9c1;  
    }
}

#texte {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.flex-imgs>h3{
    animation: flicker 3s infinite;
    text-shadow: 5px 5px 10px goldenrod;
}
